/*------------------------------- Druckversion -------------------------------------*/

@page
{
	margin:			2cm 1.4cm 2cm 1.4cm;
}

body
{
	font:			"Times New Roman", Times, serif 12px;
}

#header, #leiste, #zeile, #footer
{
	display:		none;
}

#rechtespalte, #linkespalte,
#rechtespalte_u, #linkespalte_u,
#rechtespalte_2, #linkespalte_2,
#rechtespalte_3, #linkespalte_3,
{
	padding-bottom: 20px;
	margin-bottom:	10px;
	border-bottom: 	2px solid black;
}

